#hyouji {
  border: 1px solid #000;
  width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.calbutton {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 20pt;
}

#num_box {
  margin: 10px;
  background: #faa;
}

#button_box {
  padding: 10px;
  background: #aaf;
}

#num1, #num2 {
  width: 60px;
}
